.App {
  text-align: center;
}

.bold {
  font-weight : bold;
}

#game {
  display:flex;
  flex-direction: row;
  justify-content: center;
}

#word-and-letters {
  display: flex;
  flex-direction: column;
}

#hanging-man-graphic {
  display: inline-block;
  width : 250px;
  height : 500px;
}

#word-display {
  display: inline-block;
  width : 550px;
  height : 100px;
  font-size : 30pt;
}

.word-display-letter {
  padding-left: 10px;
  padding-right: 10px;
}

#letter-tray {
  display: inline-block;
  width : 450px;
  height : 400px;
}

#letter-tray ul {
  list-style : none;
  padding : 0;
  display : flex;
  justify-content: center;
  flex-flow : row wrap;
  width : 100%;
}

#letter-tray ul li {
  box-sizing: content-box;
  display : inline-block;
  width : 42pt;
  height : 42pt;
  padding : 5px;
  margin : 2px;
  font-size : 40pt;
  line-height: 3.2rem;
  background : navy;
  color : white;
  border-radius: 28pt;
}

#letter-tray ul li.letter-used {
  color : red;
}

button {
  margin : 20px;
}

#help-tray {
  display:flex;
  flex-direction: row;
  justify-content: center;
}

#help-tray div {
  display : flex;
  flex-direction : row;
  width: 720px;
  justify-content : right;
}

.badge {
  font-size : 16px;
}